.header {
	background-color: black;
	color: white;
	font-family: 'Open sans';
	font-size: 25px;
	text-align: center;
}
.header a {
	text-decoration: none;
	color: #fff;
}
.body {
	margin-top: 10px;
	font-family: 'Open Sans';
}
#editBtn {
	margin-right: 10px;
}