.header {
	background-color: black;
	color: white;
	font-family: 'Open sans';
	font-size: 25px;
	text-align: center;
}
.header a {
	text-decoration: none;
	color: #fff;
}
.body {
	margin-top: 10px;
	font-family: 'Open Sans';
}
table {
	border-collapse: collapse;
}
th, td {
	padding: 5px;
}
.createForm input, .updateForm input {
	padding: 5px;
	margin-bottom: 5px; 
	min-width: 200px;
	border-radius: 5px;
}