<div ng-controller="DisplayController">
	<center>
		<table>

			<thead>
				<tr>
					<th>S.No</th>
					<th>Name</th>
					<th>Age</th>
					<th>Degree</th>
					<th>College</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="student in details">
					<td>{{ $index +1 }}</td>
					<td>{{ student.fname + $scope.lname }}</td>
					<td>{{ student.age }}</td>
					<td>{{ student.deg }}</td>
					<td>{{ student.clg }}</td>
					<td>
						<a href="#!/edit"><button class="btn btn-default" ng-click="edit($index)">Edit</button></a>
						<button class="btn btn-warning" ng-click="delete($index)">Delete</button>
					</td>
				</tr>
			</tbody>

		</table>
		<a href="#!/create"><button class="btn btn-primary">Add New</button></a>
	</center>
</div>